title: "Precure资料索引库"
description: "光之美少女系列资料整理与索引"
baseurl: ""
url: "https://pfc1999.github.io/precure-archive"
#url: "" 

theme: jekyll-theme-cayman

plugins:
  - jekyll-feed
  - jekyll-sitemap


defaults:
  - scope:
      path: ""
    values:
      layout: "default"
